@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Button */
.btn-primary {
  color: black !important;
  background-color: palegoldenrod !important;
  font-weight: 500;
  border: none;
}

.btn-primary:hover {
  color: black;
  background-color: palegoldenrod;
  opacity: 70%;
}

/* Form */
.form-control:focus {
  border: none !important;
  box-shadow: none !important;
  outline: 1px palegoldenrod solid !important;
}

/* Dropdown */
.dropdown-item:focus {
  background-color: palegoldenrod !important;
  color: black;
}

/* Slider */
.slider {
  object-fit: cover;
  height: 60vh;
  margin-top: 120px;
}

.carousel-item {
  overflow: visible;
}

/* Pagenation */
.pagination > li > a
{
    background-color: white;
    color: black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: black;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: black;
    background-color: palegoldenrod !important;
    border: solid 1px palegoldenrod !important;
}

.pagination > .active > a:hover
{
    background-color: palegoldenrod !important;
    border: solid 1px palegoldenrod;
}