@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  /* color: ; */
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  margin-bottom: 50px;
}

@supports (position: sticky) {
  body {
    padding-top: 0;
  }

  header {
    position: sticky;
  }

}

/* Navbar */
.navbar {
  position: relative;
  height: 80px;
  width: 100%;
  transition: 0.5s ease;
  background-color: palegoldenrod;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 5%;
}

.navbar .nav .item {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
  line-height: 80px;
  margin-right: 20px;
  transition: 0.5s ease;
}

.navbar .nav .item a {
  text-decoration: none;
  color: inherit;
}

.navbar .logo img{
  display: inline-block;
  margin-top: 5px;
  margin-left: 5%;
  width: 70px;
  height: 70px;
  transition: 0.5s ease;
}


/* Login and Sing Up Css */
.login {
  background-color: white;
}

.login .container {
  height:100%;
  width:100%;
}

.login .splitdiv{
  width:50%;
  height: 100vh;
}

.login #leftdiv{
  float:left;
  background-color: palegoldenrod;
}

.login #leftdivcard{
  margin:0 auto;
  width:50%;
  margin-top: 50vh; 
  transform: translateY(-50%);
}

.login #rightdiv{
  float:right;
  background-color: white;
}

.login #rightdivcard{
  margin:0 auto;
  width:50%;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.login input {
  width: 100%;
  height:40px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  background-color:#FAFAFA;
  box-sizing: border-box;
  border:none;
  border-radius: 20px;
}

.login .btn {
  font-weight: bold;
  font-size: medium;
  width: 100%;
  height:40px;
  margin-bottom: 20px;
  background-color: palegoldenrod;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.login .btn:hover {
  opacity: 75%;
}

.login .field-icon {
  float: right;
  margin-right: 20px;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

/* Slideshow */
.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Dropdown Css */
.dropbtn {
  background-color: palegoldenrod;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  opacity: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 50% !important;
  right: auto !important;
  transform: translate(-50%, 0) !important;
  background-color: #f1f1f1;
  width: 180px;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0px 15px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Search Bar */
.search-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.search-btn {
  background:palegoldenrod;
  padding:10px 20px;
  border-radius:0 5px 5px 0;
  border:0 none;
  font-weight:bold;
}
   
  .search-box {
  background: #eee;
  padding:10px;
  border-radius:5px 0 0 5px;
  border:0 none;
  width:400px;
}

/* Badge Shoping */
.badge {
  font-size: 12px;
  background-color: red;
  color: white;
  padding: 4px 9px;
  text-align: center;
  border-radius: 50%;
}